[submodule ".registry"]
	path = .registry
	url = https://github.com/leipzig/leipzig.r-universe.dev
	branch = HEAD
[submodule "asciiruler"]
	path = asciiruler
	url = https://github.com/leipzig/asciiruler
[submodule "dimoose"]
	path = dimoose
	url = https://github.com/leipzig/dimoose
